<html>
  <head>
    <title>
      D:\uploadedFiles\c89ce5a0bed0f758f2992fc5b44b7e1a-f4f6a774e238f847\p1gmtii2it1rgm1dkh14dqbjf1ft14.pdf
    </title>
    <style type="text/css">
      <!--
      body { font-family: Arial; font-size: 10.0px }
      .pos { position: absolute; z-index: 0; left: 0px; top: 0px }
      -->
    </style>
  </head>
  <body>
    <nobr
      ><nowrap>
        <div class="pos" id="_0:0" style="top: 0">
          <img
            name="_850:1100"
            src="data:;base64,{{
            image
            }}"
            height="850"
            width="1100"
            border="0"
            usemap="#Map"
          />
          <div
            style="
              position: absolute;
              top: 341px;
              left: 470px;
              color: black;
              font-size: 20px;
            "
          >
            {{ name }}
          </div>
        </div>
      </nowrap></nobr
    >
  </body>
</html>
